#gameArea{

    margin: 10px auto;
    width: 20%;
    border: 2px solid black;
    padding-bottom: 10px;
}
h1{
    background: red;
    font-size: 2em;

}

p{
    padding: 10px;
}

form{
    margin: 0 auto;
    width: 30%;
}

input{
    margin: 5px;
}
input[type="text"]{
    width: 3.4em;
}
input[type="submit"]{
    width: 7em;
}
input[type="button"]{
    width: 7em;
}